

@{
    ViewBag.Title = "Lab Net 2022";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>
        <h3>Error!</h3>
        <br />
        <br />
        <p>No se puede eliminar la categoría. Tiene Productos asociados.</p>
        <br />
        <br />
        <br />
        <br />
    </div>

    <div>
        @Html.ActionLink("Regresar a la página de Inicio", "Index")
    </div>
</body>
</html>
